- @header_title = "BestOf :: Home"
- content_for :header_buttons do
  %a.ui-btn-right{ :href => "/rankings/add", "data-role" => "button", "data-icon" => "add", "data-iconpos" => "right" }
    Add

%div#fb-root

%div.welcome
  %img{ :src => @current_user.facebook_photo }
  %h2
    Welcome
    = @current_user.name

%h2 Your Recent Activity
%ul
  - @current_user.rankings.recent.each do |rank|
    %li
      = rank.venue.name
      = "##{rank.position}"
      in
      = "[#{rank.dish.name}]"

%h2 Your Friends Recent Activity
- @current_user.friends.each do |friend|
  %div.friend
    %img{ :src => friend.facebook_photo, :width => 20, :height => 20 }
    %h3
      %a{:href => "/users/#{friend.id}" }
        = friend.name

    %ul
      - friend.rankings.recent.each do |rank|
        %li
          = rank.venue.name
          = "##{rank.position}"
          in
          = "[#{rank.dish.name}]"
